{% block content %} 
<div class="row">
	<article class="medium-9 columns main">
		<div class="row bg">
			<div class="medium-6 column">
			<h2>MunaEggsPress tuo tuoreet Friida-munat luoksesi!</h2>
			<p>
				Vestibulum ullamcorper tellus sit amet aliquam tristique. Etiam eu tortor vitae est congue lobortis. Curabitur efficitur luctus mi, ut pulvinar libero tempus ac. Donec convallis non justo vel luctus. facilisis ut risus. Vivamus a odio massa. 
			<p class="middle">Second header is here</p>
				Curabitur et risus pretium, tempor massa ac, fermentum urna. Vivamus vehicula magna malesuada dui auctor, quis rutrum neque pharetra. sit amet rhoncus nisl ultricies. Vestibulum laoreet imperdiet mauris, nec tempus ex vulputate eu.
			</p>
			</div>
			
				<img  class="medium-6 columns tm" src="assets/img/map.jpg">
			
		</div>
				
		<div class="row tm">
		<ul class="small-block-grid-5">
  			<li><img src="http://placehold.it/140x100"></li>
  			<li><img src="http://placehold.it/140x100"></li>
 			<li><img src="http://placehold.it/140x100"></li>
 			<li><img src="http://placehold.it/140x100"></li>
 			<li><img src="http://placehold.it/140x100"></li>
		</ul>	
		</div>
	</article>
	
	<aside class="medium-3 columns side">
		<div class="side bar">
			<h3>Header</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada commodo tincidunt. Proin ut volutpat sem. Quisque sollicitudin efficitur odio, non mollis est faucibus ac.
			</p>
		</div>
		<div class="side bar">
			<p>
				<i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada commodo tincidunt. Proin ut volutpat sem.</i>
			</p>
		</div>
		<div class="text-center">
			<p>
				<img src="http://placehold.it/350x150">
			</p>
		</div>

	</aside>
	<div class="footer">
		<p><b>Vaahtermäki Farming,</b> Somero</p>
		<p>044 279 4420</p>
		<p><i>Facebook link</i></p>
	</div>
</div>

{% endblock %}