{% block content %}

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Week 4</a></h1>
    </li>
    
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
 
    <ul class="right">
    	<li class="active"><a href="index">Home</a></li>
      <li class="active"><a href="Slider">Slider</a></li>
      <li class="active"><a href="Gallery">Gallery</a></li>
      <li class="active"><a href="Orbit">Orbit</a></li>
    </ul>

    </section>
</nav>
{% endblock %}