{% block content %}

<div class="row">
	<div class="small-12 columns">
		{{"front.jpg" | asset_url | image_tag }}
	</div>
<div>
	<h1>Heading</h1>
</div>
</div>
<div class="row">
	<div class="small-8 columns">
		Some text
	</div>
	<div class="small-4 columns">
		Something else
	</div>
	
</div>



{% endblock %}