{% block content %}


<div class="row">
  <div class="small-10 medium-11 columns">
    <div id="slider" class="range-slider" data-slider data-options="display_selector: #sliderOutput3;">
      <span class="range-slider-handle" role="slider" tabindex="0"></span>
      <span class="range-slider-active-segment"></span>
    </div>
  </div>
 </div>

<img src="assets/img/front.jpg" alt="stw" id="im"> 


{% endblock %}